
    <!-- <div class="bgded" style="background-image:url('images/pozadina-slika.jpeg');"> -->
    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <img style="width: 120px; height: 100px; margin-top: -7px;" src="images/logoT.png">
            </div>
            <nav id="mainav" class="fl_right">
                <ul class="clear">
                    <span class="mkCat" style="margin-right: 15px; display: none;">
                        <li class="active"><a href="/">Почетна</a></li>
                        <li class="active"><a href="/contact">КОНТАКТ</a></li>
                        <li class="active"><a style="text-decoration: none; color: white; cursor: pointer;" href="images/catalogMK.pdf" target="_blank">КАТАЛОГ</a></li>
                    </span>
                    <span class="enCat" style="margin-right: 15px; display: none;">
                        <li class="active"><a href="/">Home</a></li>
                        <li class="active"><a href="/contact">Contact</a></li>
                        <li class="active"><a style="text-decoration: none; color: white; cursor: pointer;" href="images/catalogEN.pdf" target="_blank">Catalog</a></li>
                    </span>
                    <li class="active">
                        <a href="#" id="enLang" onclick="callLocale('en');" style="display: none;"><img src="images/usFlag.png" style="width: 35px;"></a>
                        <a href="#" id="mkLang" onclick="callLocale('mk');" style="display: none;"><img src="images/mkFlag.png" style="width: 35px;"></a>
                    </li>
                </ul>
                <div class="smallDisplay" style="text-align: right;">
					<div class="dropdown">
						<button onclick="openDropDown()" class="dropbtn"><i class="fa fa-bars"></i></button>
						<div id="myDropdown" class="dropdown-content dropdown-menu-right">
                            <span class="mkCat" style=" display: none;">
                                <a href="/">ПОЧЕТНА</a>
                                <a href="/contact">КОНТАКТ</a>
                                <a style="text-decoration: none; color: white; cursor: pointer;" href="images/catalogMK.pdf" target="_blank">КАТАЛОГ</a>
                            </span>
                            <span class="enCat" style=" display: none;">
                                <a href="/">HOME</a>
                                <a href="/contact">CONTACT</a>
                                <a style="text-decoration: none; color: white; cursor: pointer;" href="images/catalogEN.pdf" target="_blank">CATALOG</a>
                            </span>
                            <a href="#" id="enLang2" onclick="callLocale('en');" style="display: none;"><img src="images/usFlag.png" style="width: 35px;"></a>
                            <a href="#" id="mkLang2" onclick="callLocale('mk');" style="display: none;"><img src="images/mkFlag.png" style="width: 35px;"></a>
						</div>
					</div>
				</div>
    		</nav>
        </header>
    </div>
    <div class="overlay2" style="height: auto; min-height: 800px;">
        <div id="pageintro2" class="hoc clear" style="padding: 15px 0;">
            <div class="container">
                <div class="row">
                    <% categories.forEach(function(category){ %>
                    <div class="col-12 col-md-4">
                        <%  if(!category.categoryImageID) 
                                backgroundStyle = "background: green";
                            else
                                backgroundStyle = "background: url('images/category/"+category.categoryImageID+"') no-repeat center center; background-size: cover; "; 
                        %>
                        <div class="enCat" style="display:none;">
                            <div class="categoryBox" onclick="openCategory('<%= category.id %>')" style="<%= backgroundStyle %>">
                                <p style="color:white!important;"><%= category.categoryNameEN %></p>
                            </div>
                        </div>
                        <div class="mkCat" style="display:none;">
                            <div class="categoryBox" onclick="openCategory('<%= category.id %>')" style="<%= backgroundStyle %>">
                                <p style="color:white!important;"><%= category.categoryName %></p>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- partial('../partials/footer.ejs'); %>


