<!DOCTYPE html>
<html lang="">
    <%- partial('../partials/head.ejs'); %>
    <body id="top" style="background-color: black;">
        

        <!-- <div class="bgded" style="background-image:url('images/pozadina-slika.jpeg');"> -->
            <div class="wrapper row1">
                <header id="header" class="hoc clear">
                    <div id="logo" class="fl_left">
                        <img style="width: 120px; height: 100px; margin-top: -7px;" src="images/logoT.png">
                    </div>
                    <nav id="mainav" class="fl_right">
                        <ul class="clear">
                            <li class="active"><a href="/">Почетна</a></li>
                            <!-- <li class="active"><a href="/proizvodi">КАТАЛОГ</a></li> -->
                            <!-- <li class="active"><a href="/about">За Нас</a></li> -->
                            <li class="active"><a href="/contact">КОНТАКТ</a></li>
                            <a style="text-decoration: none; color: white; cursor: pointer;" href="images/KATALOG.pdf" target="_blank">КАТАЛОГ</a>
                        </ul>
                        <div class="smallDisplay" style="text-align: right;">
							<div class="dropdown">
								<button onclick="openDropDown()" class="dropbtn"><i class="fa fa-bars"></i></button>
								<div id="myDropdown" class="dropdown-content dropdown-menu-right">
									<a href="/">ПОЧЕТНА</a>
									<!-- <a href="/proizvodi">КАТАЛОГ</a> -->
									<!-- <a href="/about">ЗА НАС</a> -->
                                    <a style="text-decoration: none; color: white; cursor: pointer;" href="images/KATALOG.pdf" target="_blank">КАТАЛОГ</a>
								</div>
							</div>
						</div>
            		</nav>
                </header>
            </div>
            <div class="overlay2" style="height: auto; min-height: 800px;">
                <div id="pageintro2" class="hoc clear" style="padding: 15px 0;">
                    <div class="container">
                        <div class="row">
                            <% categories.forEach(function(category){ %>
                            <div class="col-12 col-md-4">
                                <%  if(!category.categoryImageID) 
                                        backgroundStyle = "background: green";
                                    else
                                        backgroundStyle = "background: url('images/category/"+category.categoryImageID+"') no-repeat center center; background-size: cover; "; 
                                %>
                                <div class="categoryBox" onclick="openCategory('<%= category.id %>')" style="<%= backgroundStyle %>">
                                    <p style="color:white!important;"><%= category.categoryName %></p>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- partial('../partials/footer.ejs'); %>
        <!-- <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a> -->
    </body>
    <!-- JAVASCRIPTS -->
    <script src="/scripts/jquery.min.js"></script>
    <script src="/scripts/jquery.backtotop.js"></script>
    <script src="/scripts/mainScript.js"></script>

    <script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                document.getElementById("footerBox").style.position = "fixed";
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                document.getElementById("footerBox").style.position = "inherit";
            } 
        });
    }

    function openCategory(idCategory){
        window.location.href = "/category/show/"+idCategory;
    }
    </script>
  
</html>


